@import 'src/Code_Backup/CSS/Mixin';
@import "ColorVariables";

.Login_Button,.Register_Button{

  border-style: solid;
  border: none;
  border-radius: 1rem;
  //background-image: linear-gradient(150deg,$LightWineRed,$WineRed);
  background-color: $WineRed;
  color: $LightWhite;
  padding-left: 2rem;
  padding-right: 2rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  font-weight: bold;


  &:hover{
    background: $DarkWineRed;
  }
}

.Button_Group{
  @include FlexCenter(row);
  padding: 1rem;
  padding-bottom: 2rem;
}

.Login_Button{

  margin-right: 0.5rem;
}


