$Gray : #858585;
$Green: #1cd425;
$LightGreen: #3af04c;
$DeepGray:#3d3d3d;
$LightGray:#bfbfbf;
$LightWineRed:#ff8663;
$WineRed:#FF5722;
$DarkWineRed:#EB3900;
$FontWhite:#D2D2D2;
$LightWhite:#e7e7e7;
$ShadowDark : #2D2D2D;
