@import './Mixin';
@import './ColorVariables';
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+SC:wght@500&display=swap');


.Login_Register_Panel{
  @include FlexCenter(column);
  position: relative;
  padding-top: 3rem;
  padding-bottom: 0.5rem;
  background: transparent;
  width: 30%;

  .LogoPng{

    width: 8rem;
    height: 7.5rem;
    margin-bottom: 0.5rem;
    background: #EFEFEF;
    padding: 0.5rem;
    border-radius: 0.5rem;
    box-shadow: 0.3rem 0.3rem 0.3rem 0.08rem $ShadowDark ;

  }

  .LoginTitle{

    color: $LightWhite;
    font-family: 'Noto Sans SC', sans-serif;
    font-size: medium;
    margin-bottom: 2rem;


  }


  .BackGround{
    position: absolute;
    width: 80%;
    height: 100%;
    top: 0;
    color: rebeccapurple;
    background-image: url('../../Image/BackGround/TextureBG.png');
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 0.8;
    z-index: -1;
    border-radius: 1rem;
  }

}


