@import "ColorVariables";
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=ZCOOL+KuaiLe&display=swap');

.status_bar{
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: $Gray;

  height: 8vh;
  p{
    padding: 0;
    margin: 0;
    font-family: 'ZCOOL KuaiLe', cursive;
    font-size: 1.2rem;
    color: white;
  }
  .logo_holder{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-radius: 0.2rem;
    width: 2.5rem;
    height: 2.5rem;
    margin-left: 1rem;
    margin-right: 1rem;
    img{
      width: 2rem;
      height: 2rem;
    }
  }
}

.status_bar_title,.status_bar_userinf,.status_bar_logout{
  display: flex;
  flex-direction: row;
  align-items: center;
}

.status_bar_logout{
  margin-right: 1rem;
}
