@import './ColorVariables';
@import 'Mixin';
//中文字体 google
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+SC:wght@500&display=swap');
//英文字体 google
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');


.InputWrapper{
  @include FlexCenter(column);
  position: relative;
  padding-top: 1rem;
  padding-bottom: 1rem;
  width: 100%;
  font-family: 'Noto Sans SC', sans-serif;

  .InputCombine{
    display: flex;
    justify-content: center;
    position: relative;
  }

  .Input{
    font-family: 'Roboto', sans-serif;
    width: 65%;
    border: 0;
    border-bottom: 0.2rem solid $FontWhite;
    font-size: 1.6rem;
    outline: 0;
    color: White;
    padding-bottom:  0.5rem;
    padding-left: 0.5rem;
    background: transparent;
    transition: border-color 0.2s;

    &::placeholder{
      color: transparent;
    }

    &:placeholder-shown + .InputLabel{
      font-size: 1.3rem;
      cursor: text;
      top: 0%;
    }

    &:focus{
      border-image: linear-gradient(to right,$LightWineRed, $WineRed);
      border-image-slice: 1;
    }

    &:focus + .InputLabel{

      position: absolute;
      top: -50%;
      transition: 0.2s;
      font-size: 1rem;
      color: $FontWhite;
      font-weight: 700;
    }
  }

  .InputLabel{
    align-self: flex-start;
    position: absolute;
    top: -50%;
    left: 20%;
    transition: 0.2s;
    font-size: 1rem;
    color: $LightWhite;

  }

}









